{% extends 'base.html' %}
{%load static%}

{% block title %} Product List {% endblock %}

{% block content %}
    <h1>Product List</h1>
    <ul>
    {% for product in object_list %}
        <a href="{% url 'cart:product-detail' slug=product.slug %}">{{product.name}}<a>
        {% if product.image %}
            <img src="{{ product.image.url }}" height="100" width="100">
        {% endif %}
        <p>{{product.description}}</p>
    {% empty %}
        <li>No products yet.</li>
    {% endfor %}
    </ul>
{% endblock %}
